.section {
    padding: 130px 0;
}

.section-pt {
    padding-top: 130px;
}

.section-pb {
    padding-bottom: 130px;
}

/*=========================================================================================
    Utility CSS End
 ==========================================================================================*/
/*=========================================================================================
    Typography CSS Start
 ==========================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #2f2d53;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}

a:hover {
    cursor: pointer;
}

p {
    color: #433b3a;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*=========================================================================================
    Typography CSS End
 ==========================================================================================*/

/*=========================================================================================
    Button CSS Start
 ==========================================================================================*/
.single-blog {
    transition: 0.3s ease all;
}

.btn {
    padding: 16px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    transition: 0.3s ease all;
    border-radius: 8px;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btnPrimary {
    color: #fff;
    background-color: #41b38f;
    border: 1px solid #41b38f;
}

.btnPrimary:hover {
    color: #fff;
    background-color: #41b38f;
    border: 1px solid #41b38f;
}

.btnPrimary-outline {
    color: #1b1213;
    background-color: transparent;
    border: 1px solid #1b1213;
}

.btnPrimary-outline:hover {
    color: #fff;
    background-color: #41b38f;
    border: 1px solid #41b38f;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #41b38f !important;
    outline: 0;
    box-shadow: 0 0 0 .06rem #41b38f;
}

/*=========================================================================================
    Button CSS End
 ==========================================================================================*/

/*=========================================================================================
    Header CSS Start
 ==========================================================================================*/
.header {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* .hero,
.success-story,
.banner,
.terms-of-service,
.cookie-policy,
.privacy-policy {
    padding-top: 97px;
} */

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.header-logo {
    width: 278px;
}

.header.sticky {
    width: 100%;
    position: sticky;
    background: #fff !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header.sticky .navbar-expand-xl {
    padding: 24px 0;
}

.header .navbar-expand-xl {
    padding: 24px 0;
    background: #fff;
}

.header .navbar-expand-xl .navbar-nav {
    gap: 32px;
}

.header .navbar-expand-xl .navbar-nav .nav-link {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #595959;
}

.header .navbar-expand-xl .navbar-nav .active {
    color: #1b1213 !important;
    font-weight: 500;
}

.header .navbar-expand-xl .navbar-nav .dropdown-item {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    margin-bottom: 2px;
}

.header .navbar-expand-xl .navbar-nav .dropdown-item:focus,
.header .navbar-expand-xl .navbar-nav .dropdown-item:hover {
    color: #fff !important;
    background-color: #611f69 !important;
}

.header .navbar-expand-xl .navbar-nav .dropdown-item.active,
.header .navbar-expand-xl .navbar-nav .dropdown-item:active {
    background-color: #611f69 !important;
    color: #fff !important;
}

.header .navbar-collapse {
    flex-grow: inherit;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-login-btn,
.header-register-btn {
    padding: 12px 20px;
}

.navbar-toggler {
    color: #17402b;
    border: none;
    display: flex;
    padding: 10px 12px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-menu-icon .fa-bars,
.navbar-menu-icon .fa-xmark {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

/*=========================================================================================
    Header CSS End
 ==========================================================================================*/

/*=========================================================================================
    Hero Section Start
 ==========================================================================================*/

.hero-area {
    position: relative;
    padding: 80px 0px;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.story-hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.story-hero-graph {
    width: 100%;
    padding-top: 60px;
}

.container {
    position: relative;
    z-index: 10;
}

.hero-title {
    color: var(--White-Normal, #fefefe);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.hero-text {
    color: var(--White-Normal, #fefefe);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.hero-content {
    max-width: 392px;
}

.hero-content-wrapper {
    display: flex;
    align-items: end;
}

.row.hero-row {
    align-items: center;
}

.hero-form {
    border-radius: 16px;
    background: linear-gradient(180deg, #2d6251 0%, #1d4136 100%);
    padding: 24px;
}

.form-label {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 20.8px */
    text-transform: capitalize;
    margin-bottom: 10px;
}

.form-control {
    border-radius: 8px;
    background: #f8f8f8;
    padding: 14px 16px;
}

/*=========================================================================================
    Hero Section End
 ==========================================================================================*/

/*=========================================================================================
    Footer CSS Start
 ==========================================================================================*/
.footer-area {
    background: #1b1213;
}

.footer-middle {
    padding-top: 130px;
    padding-bottom: 35px;
}

.footer-content {
    max-width: 240px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-social li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
    font-size: 20px;
    color: #fff;
    background: #262222;
}

.footer-social li a:hover {
    color: #fff;
    background: #41b38f;
}

.footer-logo {
    margin-bottom: 24px;
}

.footer-text {
    margin-bottom: 24px;
    color: var(--White-Light, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer-menu .menu-category {
    margin-bottom: 24px;
    color: var(--White-Light, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12px;
}

.footer-menu-list li a,
.footer-menu-list li p {
    color: var(--White-Light, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    gap: 12px;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-menu p span {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background: #262222;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    color: #4d3849 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 100% !important;
    padding: 20px 24px !important;
    border-radius: 48px !important;
}

.subscribe-form .btnPrimary {
    position: absolute;
    content: '';
    border-radius: 48px;
    height: 100%;
    right: 0;
    top: 0;
}

.fm-margin {
    margin-top: 50px;
}

.licenced-img-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-devider {
    border-top: 1px solid #fff;
    position: relative;
    z-index: 2;
    opacity: 0.5;
}

.footer-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 70px;
}

.footer-copyright {
    color: var(--white-normal-hover, #e5e5e5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 0.07px;
}

.footer-allrights {
    background: #41b38f;
    margin-top: 20px;
}

.footer-allrights p {
    color: var(--white-normal-hover, #e5e5e5);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.08px;
    padding: 14px 8px;
}

/*=========================================================================================
    Footer CSS End
 ==========================================================================================*/

/*=========================================================================================
    Client Success Story Start
 ==========================================================================================*/

.success-story-area {
    position: relative;
    padding: 86px 0;
}

.story-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.story-title {
    color: var(--White-Normal, #fefefe);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 52.8px */
    margin-bottom: 16px;
}

.breadcrumb-item,
.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
    color: var(--White-Normal, #fefefe);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.36px;
}

.breadcrumb-item.active {
    font-weight: 500 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.breadcrumb {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}

.breadcrumb-item {
    margin-right: 0.5rem;
}

.breadcrumb-item-divider .icon {
    font-size: 1rem;
    color: #fff;
    width: 16px;
    height: 16px;
}

/*=========================================================================================
    Client Success Story End
 ==========================================================================================*/

/*=========================================================================================
    Blog Section Start
 ==========================================================================================*/
.blog-image {
    display: block;
    border-radius: 16px;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-bottom: 24px;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
}

.blog-title {
    color: var(--Black-Normal, #1b1213);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 36.4px */
    margin-bottom: 10px;
    display: inline-block;
}

.blog-summery {
    color: var(--White-Darker, #595959);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-content .btnPrimary-outline {
    display: inline-block;
}

.single-blog:hover img {
    transform: scale(1.1);
}

/*=========================================================================================
    Blog Section End
 ==========================================================================================*/

/*=========================================================================================
    Banner Section Start
 ==========================================================================================*/
.banner-area {
    position: relative;
}

.banner-content {
    height: 234px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.banner-title {
    color: var(--White-Normal, #fefefe);
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 528px;
}

/*=========================================================================================
    Banner Section End
 ==========================================================================================*/

/*=========================================================================================
    Blog Details Section Start
 ==========================================================================================*/
.blog-details {
    padding: 100px 0px;
}

.blog-details-img {
    border-radius: 16px;
    margin-bottom: 36px;
    overflow: hidden;
}

.blog-details-img img {
    width: 100%;
    height: auto;
}

.desc-title {
    color: var(--Black-Normal, #1b1213);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.desc-text {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    text-transform: capitalize;
}

.single-description {
    margin-bottom: 36px;
}

/*=========================================================================================
    Blog Details Section End
 ==========================================================================================*/

/*=========================================================================================
    Testimonial Section Start
 ==========================================================================================*/
.testimonial-slide {
    padding: 0px 10px 36px 10px;
}

.custom-prev,
.custom-next {
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.custom-prev {
    position: absolute;
    top: 50%;
    left: 10%;
}

.custom-next {
    position: absolute;
    top: 50%;
    right: 10%;
}

.testimonial-area {
    padding: 130px 0;
    background: #41b38f;
}

.section-top-title-box {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.section-title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.section-text {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.single-testimonial {
    background: #fff;
    border-radius: 16px;
    display: flex;
    padding: 40px 110px 30px 110px;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.single-testimonial p {
    color: var(--Grey-30, #4c4c4c);
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.testimonial-author .author-post {
    color: var(--Grey-50, #808080);
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.testimonial-author .author-name {
    color: var(--Grey-20, #333);
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.single-testimonial {
    position: relative;
}

.tip-icon {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.get-started-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-top-title-box.text-black .section-title {
    color: #1b1213;
}

.section-top-title-box.text-black .section-text {
    color: #595959;
}

.testimonial-dots {
    width: 182px;
    list-style-type: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 4px;
    list-style: none;
    margin: 20px auto 0;
    height: 42px;
    position: static;
}

.testimonial-dots .slider-navigators img {
    border-radius: 50%;
}

.testimonial-dots .slider-navigators {
    height: 42px;
    border-radius: 50%;
    margin: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.testimonial-dots .slider-navigators.slick-active {
    transform: scale(0.70);
    transition: all 0.4s ease;
}

.slider-navigators.slick-active.slick-current img {
    transform: scale(1.7);
    border: 3px solid var(--Primary-95, #E5EFFF);
    transition: all 0.4s ease;
}

/*=========================================================================================
    Testimonial Section End
 ==========================================================================================*/

/*=========================================================================================
    Contact Section Start
 ==========================================================================================*/
.contact-area .section-top-title-box .section-title {
    text-align: start;
}

.contact-area .section-top-title-box {
    margin-bottom: 36px;
}

.contact-area .section-top-title-box .section-text {
    font-size: 16px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.contact-form .form-label {
    color: var(--Black-Normal, #1b1213);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}

.contact-form .form-control {
    border-radius: 12px;
    border: 0.5px solid #e4e4e4;
    background: #f9f9f9;
    padding: 16px;
}

.map-area {
    margin-bottom: 35px;
}

.map-area iframe {
    width: 100%;
    height: 388px;
    border-radius: 18px;
}

.contact-info-box .single-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 38px;
}

.contact-info-box .single-box .details h6 {
    color: var(--Black-Normal, #1b1213);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.contact-info-box .single-box .details p {
    color: var(--White-Darker, #595959);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
    word-wrap: break-word;
    /* Break long words to fit within the container */
    word-break: break-word;
    /* Break words without spaces if needed */
    margin: 0;
}

.contact-info-box .single-box span {
    flex-shrink: 0;
    color: #474747;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 35px;
    background: #f9f9f9;
}

/*=========================================================================================
    Contact Section End
 ==========================================================================================*/

/*=========================================================================================
        Know Your Rights Section Start
 ==========================================================================================*/
.your-rights-area .section-top-title-box .section-text {
    color: var(--White-Darker, #595959);
    font-size: 16px;
}

.single-rights-blog {
    transition: 0.3s ease all;
}

.single-rights-blog .blog-image {
    display: block;
    border-radius: 16px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 32px;
}

.single-rights-blog:hover img {
    transform: scale(1.1);
}

.single-rights-blog .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
}

.rights-blog-content .meta-date {
    color: #41b38f;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.rights-blog-content .blog-title {
    color: var(--Black-Normal, #1b1213);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 32px;
    display: block !important;
}

.rights-blog-content .btnPrimary-outline {
    display: inline-block;
    font-weight: 500;
    border-radius: 8px;
    padding: 14px 32px;
}

/*=========================================================================================
        Know Your Rights Section End
 ==========================================================================================*/

/*=========================================================================================
        Blog Details Section Start
 ==========================================================================================*/
.blog-details-element {
    background: #fff;
}

.blog-details-element img {
    max-width: 100%;
    max-height: 450px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
}

.blog-details-element .questions {
    color: #41b38f;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 36px;
}

.blog-details-element .meta-date {
    color: var(--Black-Normal, #1b1213);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
}

.blog-details-element h3 {
    color: var(--Black-Normal, #1b1213);
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.blog-details-element h4 {
    color: #41b38f;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 16px;
}

.blog-details-element .details-text {
    color: #595959;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.blog-details-element ul {
    list-style: decimal;
    padding-left: 20px;
}

.blog-details-element .list-title {
    color: var(--Black-Normal, #1b1213);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 16px;
}

.blog-details-element ul li {
    margin-bottom: 16px;
    list-style: decimal;
    color: var(--Black-Normal, #1b1213);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.blog-details-element a {
    color: #5b5bff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.blog-details-element a:hover {
    text-decoration: underline;
}

.blog-details-element .message {
    color: var(--Black-Normal, #1b1213);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
    border-left: 3px solid #41b38f;
    padding-left: 20px;
    margin-bottom: 36px;
}

/*=========================================================================================
        Blog Details Section End
 ==========================================================================================*/

/*=========================================================================================
    Terms of Service Section Start
 ==========================================================================================*/
.blog-section {
    width: 100%;
    padding: 0 0 80px 0;
}

.blog-section>img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin: 0 0 40px 0;
}

.blog-section h1 {
    font-size: 36px;
    color: #17402b;
    font-weight: 700;
    margin: 0 0 28px 0;
}

.blog-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.blog-section h2 {
    font-size: 24px;
    color: #41b38f;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.blog-section h3 {
    font-size: 20px;
    color: #41b38f;
    font-weight: 500;
    margin: 0 0 12px 0;
}

.blog-section h4 {
    font-size: 18px;
    color: #41b38f;
    font-weight: 500;
    margin: 0 0 12px 0;
    text-decoration: underline;
}

.blog-section p {
    font-size: 16px;
    color: #000;
}

.blog-section ul {
    padding: 0;
}

.blog-section ul ul {
    padding: 0 0 0 20px;
}

.blog-section li {
    font-size: 16px;
    color: #000;
    margin: 0 0 6px 0;
    list-style-type: none;
}

.blog-section li b {
    font-weight: 600;
    color: #41b38f;
}

.blog-section li::before {
    content: '+ ';
    margin: 0 6px 0 0;
    color: #41b38f;
}

.blog-content>img {
    width: 100%;
    object-fit: contain;
    max-width: 400px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.share-blog {
    width: 100%;
    padding: 32px;
    background-color: #41b38f;
    border-radius: 12px;
}

.share-blog>div {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 16px 0 0 0;
}

.share-blog>div a {
    font-size: 20px;
    color: #41b38f;
    margin: 0 20px 0 0;
}

.blog-section .tpc-content h1 {
    margin: 60px 0 28px 0;
}

.tpc-content p {
    margin: 0 0 16px 0;
    font-size: 16px;
    line-height: 140%;
}

.blog-section .tpc-content ul {
    margin: 0 0 20px 0;
}

.blog-section .tpc-content h4 {
    margin: 8px 0;
    font-size: 18px;
}

.blog-section .tpc-content h3 {
    font-size: 24px;
}

.tpc-content a {
    color: #41b38f !important;
}

@media screen and (max-width: 900px) {
    .blog-section>img {
        height: 160px;
        margin: 0 0 28px 0;
    }

    .blog-section h1 {
        font-size: 28px;
    }

    .blog-section h2 {
        font-size: 20px;
    }

    .share-blog {
        padding: 24px;
    }
}

/*=========================================================================================
    Terms of Service Section End
 ==========================================================================================*/